.myworks{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 80px;
    margin: 80px 120px;
}
.myworks-title h1{
    padding: 0px 30px;
    font-size: 55px;
    font-weight: 600;
}
.myworks-container{
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 40px;
}
.myworks-container img{
    width: 419px;
    height: 230px;
    transition: 0.3s;
    cursor: pointer;
    border: 1px solid rgb(84, 84, 84);
    border-radius: 10px;
    box-sizing: border-box;
}
.myworks-container img:hover{
    transform: scale(1.10);
    border: 3px solid #ff00ff;
    transition: 0.3s;
}
.myworks-showmore{
    display: flex;
    gap: 15px;
    border-radius: 50px;
    border: 2px solid white;
    padding: 20px 30px;
    font-size: 20px;
    font-weight: 500;
    margin-bottom: 80px;
    transition: 0.6s;
    cursor: pointer;
}
.myworks-showmore:hover{
    border: 2px solid #ff00ff;
    transition: 0.6s;
}

@media (max-width:768px){
    .myworks{
        gap: 50px;
        margin: 50px 70px;
        align-items: start;

    }
    .myworks-title h1{
        padding: 0px;
        font-size: 50px;
        font-weight: 600px;
    }
    .myworks-container{
        gap: 30px;
    }
    .myworks-container img{
        width: 100%;
        height: auto;
    }
    .myworks-showmore{
        padding: 20px 40px;
        font-size: 18px;
        margin: 50px auto;
        cursor: pointer;
    }
}
@media (max-width:568px) {
    .myworks{
        padding: 50px 20px;
        width: 75%;
        margin: 50px 50px;
        /* border: 2px solid yellow; */
    }
    .myworks-title h1{
        font-size: 50px;
    }
    .myworks-container{
        display: flex;
        flex-direction: column;
        gap: 50px;
    }
    .myworks-container img{
        height: 100%;
        width: 100%;
        /* border: 3px solid yellow; */
    }
}